{% load static %}
<html>

    <head>
        <title>Listado de Productos</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
     
    <body>
        <div class="container">
            
            <table class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock_actual</th>
                    <th>proveedor</th>
                </tr>

                {% for producto in listado_productos %}

                    <tr>

                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock_actual }}</td> 
                        <td>{{ producto.proveedor }}</td> 
                        <td>
                        
                           |

                        </td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </body>

</html>