{% load static %}
<html>

    <head>
        <title>Listado de Proveedores</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
     
    <body>
        <div class="container">
        
            <br><br>
            <table class="table table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>dni</th>
                </tr>

                {% for proveedores in listado_proveedores %}

                    <tr>

                        <td>{{ proveedores.id }}</td>
                        <td>{{ proveedores.nombre }}</td>
                        <td>{{ proveedores.apellido }}</td>
                        <td>{{ proveedores.dni  }}</td>  
                      
                    </tr>

                {% endfor %}
          
            </table>
            <a href="{% url 'agregar_proveedor' %}">
                Agregar Proveedor
            </a>
        </div>
    </body>

</html>