{% load static %}
<html>

    <head>
        <title>Listado de Proveedores</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
     
    <body>
        <div class="container">
            
            <table class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>dni</th>
                </tr>

                {% for producto in listado_productos %}

                    <tr>

                        <td>{{ proveedores.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.apellido }}</td>
                        <td>{{  producto.dni  }}</td>  
                        <td>
                        
                           |

                        </td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </body>

</html>