{% load static %}
<html>

    <head>
        <title>Nuevo Proveedor</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>

    <body>

        <form method="post">
            {% csrf_token %}
           <div class="form-group">
            <form>
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="form-group">
                  <label for="dni">DNI O CUIL:</label>
                  <input type="number" class="form-control" id="dni" name="dni">
                </div>
                  <br>
                <br>
                      <button type="submit" class="btn btn-primary">Guardar registro</button>
              </form>
              
           </div>
           
        <br><br>
        <a href="{% url 'listado_proveedores' %}">
            Ir a la lista
        </a>
        </form>

    </body>

</html>